<!--<h2 class="logo-arounsee">FI CLIENT</h2>-->
<!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
<!--<mat-form-field class="example-full-width">-->
<!--<input matInput type="text" formControlName="username" placeholder="Username" class="form-control" required>-->
<!--</mat-form-field>-->

<!--<mat-form-field class="example-full-width">-->
<!--<input matInput type="password" formControlName="password" placeholder="Password" required>-->
<!--</mat-form-field>-->
<!--<div class="form-group">-->
<!--<button [disabled]="loading" class="login-button" mat-button>Login</button>-->
<!--<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
<!--</div>-->
<!--<div *ngIf="error" class="alert alert-danger">{{error}}</div>-->
<!--</form>-->

<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput type="text" formControlName="username" placeholder="Username" class="form-control" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput type="password" formControlName="password" placeholder="Password" required>
              </mat-form-field>
            </td>
          </tr>
        </table>

      </mat-card-content>
      <mat-card-actions style="display: flex">
        <button [disabled]="loading" class="login-button" mat-button>Login</button>
        <mat-spinner *ngIf="loading" diameter="25"></mat-spinner>
      </mat-card-actions>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
  </mat-card>
</div>
