<div class="jumbotron">
  <h1>Fault Isolation Project</h1>
</div>
<link href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
<div align="center" class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput type="text" formControlName="username" placeholder="Username" class="form-control" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput type="password" formControlName="password" placeholder="Password" required>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="loading" class="btn btn-primary" mat-button>Login</button>
        <mat-spinner *ngIf="loading" diameter="25"></mat-spinner>
      </mat-card-actions>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
  </mat-card>
</div>
