.flows {
  width: 70%;
  margin: auto;
}

.add-files-btn {
  margin-left: 20px;
  margin-right: 20px;
}

.flow-table {
  width: 100%;
}

.upload-file {
  display: flex;
  align-items: center;
}

.buttons-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}


.inside-table{
  border-collapse:collapse;
  caption-side:bottom;
  border: solid 1px #000;
  padding: 10px;
  th, td {
    border: solid 1px #000;
    padding: 10px;
  }
}

.delete-selected-btn {
  margin-right: 10px;
}
