<mat-toolbar class="example-header" color="primary">
  <button type="button" mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <p><a mat-button [routerLink]="['/login']">Logout</a></p>
</mat-toolbar>

<mat-sidenav-container autosize="true" class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <button mat-raised-button disabled="{{!selectedNode}}" (click)="deleteNode()">Delete</button>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-checkbox class="checklist-leaf-node"
                      [checked]="checklistSelection.isSelected(node)"
                      matTooltip="{{node.description}}"
                      (change)="itemSelectionToggle(node)">{{node.item}}</mat-checkbox>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <div class="project-inputs">
          <mat-form-field>
            <input matInput #projName placeholder="Project Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput #Desc placeholder="Description">
          </mat-form-field>
          <div class="add-projects-buttons">
            <button mat-button (click)="saveNode(node, projName.value, Desc.value)">Save</button>
            <button mat-button (click)="cancelNewItem(node)">Cancel</button>
          </div>
        </div>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox *ngIf="node.level !== 0"
                      [checked]="checklistSelection.isSelected(node)"
                      matTooltip="{{node.description}}"
                      (change)="itemSelectionToggle(node)">{{node.item}}</mat-checkbox>
        <label *ngIf="node.level === 0">{{node.item}}</label>
        <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
      </mat-tree-node>
    </mat-tree>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
