<div class="ocr">
  <div class="ocr-wrapper">
    <mat-form-field>
      <mat-label>OCR type</mat-label>
      <mat-select [(value)]="fileType" (selectionChange)="fileTypeSelected($event)">
        <mat-option *ngFor="let type of fileTypes" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <input
      type="file"
      #fileOcr
      style="display: none"
      (change)="uploadOcr()"
      accept="image/*,.zip"
      required
    />
    <button [disabled]="!canUpload || uploadingOcr" matTooltip="Supported image and zip files" mat-raised-button color="primary" class="add-ocr-btn"
            (click)="addOcr()" >
      Add OCR
    </button>

    <mat-spinner *ngIf="uploadingOcr" diameter="25"></mat-spinner>
  </div>
</div>
