div.bar {
    overflow: hidden;
    background-color: #43A5F0;
    border: none;
    }

div.bar span{
    font-size:1.2vw;
    background-color:transition;
    color: black;
    float: left;
    cursor: pointer;
    padding:0.5%;
    text-align: center;
}

div.bar span:hover {
    background-color: #9ECCEB;
}

div.bar span.logout{
     float: right;
}
/*div.bar span.about{


}*/
div.bar span.about{
         float: right;
         width:1.3%;
         content:url("/app/pic/about.png");

}
